@import '../../assets/styles/variables';
@import '../../assets/styles/functions';

.wrapper__date {
	display: flex;
	flex-direction: column;
	gap: adapt(10px, 1920px);

	> .title {
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: adapt(10px, 1920px);
	}
	> .paragraph {
		font-size: 1rem;
		font-style: italic;

		> span {
			font-weight: 500;
			font-size: 1.1rem;
			font-style: normal;
		}
	}
}
